@model baseapp.Models.Domains.BlogPost

@{
    ViewData["Title"] = "Delete";
}

<h1>View</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoreImages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoreImages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visible)
        </dd>
    </dl>
    
    <form asp-action="View">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
